/* ----------- variables ----------- */

$bold-font: 'Oswald Demi Bold',
sans-serif;
$light-font: 'Open Sans',
sans-serif; //open sans
$midnight: #131617;
$antique: #D8C5AF;
$mist: #EBF1F6;

/* ---------- main styles ---------- */

body {
    background-color: $midnight;
    font-family: $light-font;
    letter-spacing: .065em;
    line-height: 14.4pt;
    font-size: .95em;
}

// all content below header img/text
main {
    margin-top: 50px;
}


/* -------- heading styles -------- */

// h2 set between bars 
h2 {
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold-font;
    letter-spacing: .2em;
    font-size: 1.5em;
    color: $midnight;
}

h2 span {
    display: inline-block;
    position: relative;
    padding: 5px 25px;
    background-color: $mist;
    z-index: 36;
}

h2:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -1px;
    border-top: 2px solid $midnight;
}

// h3 with border-box around 
h3 {
    padding: 10px 20%;
    border: 1px solid $mist;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold-font;
    letter-spacing: .2em;
    font-size: 1.4em;
    color: $mist;
}

// hide mobile title
.mobile-h3 {
    display: none;
}

// cafe names in review 
h4 {
    text-transform: uppercase;
    font-family: $bold-font;
    letter-spacing: .2em;
    color: $midnight;
    font-size: 1.2em;
}

// sidebar border-box title
h5 {
    margin: 40px 0 25px;
    padding: 10px 20%;
    border: 1px solid $mist;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold-font;
    letter-spacing: .2em;
    font-size: 1.3em;
}

h6 {
    padding-bottom: 5px;
    color: #caaf96;
    //    border-bottom: 1px solid $antique;
}


/* --------- hero image --------- */

// hero image
header {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .05) 81%, rgba(19, 22, 23, .1) 81%, rgba(19, 22, 23, 1) 100%), url('../images/trees-fog.jpeg');
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


/* --------- navigation --------- */

// desktop/tablet landscape
// before display flex on ul, no relative position
.nav-main ul {
    display: flex;
    justify-content: flex-end;
}

.nav-main li {
    padding-top: 50px;
    padding-left: 5%;
}

.nav-main li:last-child {
    padding-right: 8%;
}

.nav-main a {
    text-decoration: none;
    letter-spacing: .3em;
    font-family: $bold-font;
    font-size: 14px;
    color: $midnight;
    transition: 0.3s ease;
    &:hover,
    &:active,
    &:focus {
        color: $mist;
    }
}

// hidden mobile menu
.btn-mobile {
    display: none;
    height: 40px;
    margin: 20px auto;
    background-color: transparent;
    border: none;
    font-family: $bold-font;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 1em;
    color: $mist;
    &:hover,
    &:active,
    &:focus {
        color: $antique;
    }
}

// -----> svg logo "the london fog blog" <-----
.title {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    //    border: 5px solid $mist;
}

// svg image size 
.london-fog {
    width: 50%;
}

// first line
.path-01 {
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: dash 3s linear forwards;
}

// second line
.path-02 {
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: dash 3s linear 1.5s forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

// "london fog" text
.lf-01 {
    opacity: 0;
    animation: fade 2s 3.5s ease forwards;
}

// "the" text
.lf-02 {
    opacity: 0;
    animation: fade 2s 3s ease forwards;
}

// "blog" text
.lf-03 {
    opacity: 0;
    animation: fade 2s 4s ease forwards;
}

// fade in london fog title
@keyframes fade {
    100% {
        opacity: 1;
    }
}


/* -------- featured review -------- */

// hide non-gif 
.mobile-img {
    display: none;
}

.featured {
    display: flex;
    justify-content: center;
}

// main featured post size
.main-content {
    max-width: 65%;
    font-size: .8em;
}

// featured review 
.mid-review {
    display: flex;
    .mid-left {
        flex-direction: column;
        margin-right: 8%;
    }
    p {
        text-align: justify;
        a {
            margin-left: 1%;
            font-family: $bold-font;
            text-decoration: none;
            color: $midnight;
            &:hover,
            &:active,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}


/* -------- popular reviews -------- */

// wraps left and right sections 
.post-sections {
    display: flex;
    width: 80%;
    margin: 65px auto;
    font-size: .8em;
    border-bottom: 1px solid $mist;
}

// h3 "popular reviews"
.popular {
    flex-basis: 100%;
}

// left column with reviews
.left {
    display: flex;
    flex-wrap: wrap;
    width: 66.666666666666667%;
    margin-right: 5%;
}

.left a {
    padding-bottom: 50px;
}

// image hover light opacity
.content {
    background-color: $mist;
}

.left img:hover {
    opacity: .8;
}

// image columns 
.col-01,
.col-02 {
    margin: 0 auto;
    margin-top: 60px;
    width: 47%;
}

// leftmost image column 
.col-01 {
    margin-bottom: 50px;
    margin-right: .2%;
    article {
        margin-bottom: 15px;
    }
}

// rightmost image column
.col-02 {
    article {
        margin-bottom: 15px;
    }
}

// older posts link
.back {
    margin-left: 2%;
    text-align: left;
    display: block;
    width: 100%;
}


/* -------- right sidebar -------- */

// right column with logo, about etc
.right {
    width: 28.333333333333333%;
    color: $mist;
}

// column within sidebar class right
.col-03 {
    margin: 0 10%;
}

// sidebar logo 
.main-logo {
    display: block;
}

// link styles in main
.post-sections a {
    text-decoration: none;
    color: $mist;
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

// archive list styles
.post-sections {
    li {
        margin-bottom: 5px;
    }
}

// sub list - locations
.post-sections ul > li {
    list-style: circle;
    margin-left: 60px;
    font-size: .8em;
}

//search bar
.search {
    background-color: rgba(235, 241, 246, .9);
    margin-top: 30px;
    padding: 5px 0;
}

input[type=text] {
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    background-image: url('../images/search-dark.png');
    background-size: 18px 18px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-size: .9em;
}

//social media icons
.social {
    margin-top: 20px;
    text-align: center;
    a {
        color: $antique;
        &:hover,
        &:active,
        &:focus {
            color: $mist;
        }
    }
    .fa {
        margin: 0 2%;
    }
}

// create review with triangle pointer
.review-01,
.review-02 {
    padding: 4%;
    width: 100%;
    height: 200px;
    position: relative;
    top: -6px;
    background-color: $mist;
}

// triangle for reviews 
.review-01:after,
.review-02:after {
    content: '';
    position: absolute;
    top: -14.5px;
    left: 50%;
    //    margin-left: 10%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 15px 15px 15px;
    border-color: transparent transparent $mist transparent;
}

// extends height of some posts for asymmetry 
.tall {
    height: 300px;
}

// popular posts styles 
.pp {
    text-align: justify;
    padding: 10%;
    p {
        margin-top: 5%;
        padding-bottom: 5%;
    }
    a {
        font-family: $bold-font;
        color: $midnight;
        &:hover,
        &:active,
        &:focus {
            color: $antique;
        }
    }
}

// hide mobile logo
.mobile-logo {
    display: none;
}


/* ----------- footer ----------- */

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10%;
    height: 150px;
    line-height: 2em;
    font-size: .75em;
    color: $antique;
    p {
        margin-right: 10%;
    }
    nav {
        ul {
            display: flex;
        }
        li {
            margin-right: 2%;
        }
        a {
            text-decoration: none;
            color: $mist;
            &:hover,
            &:active,
            &:focus {
                color: $antique;
                text-decoration: underline;
            }
        }
    }
}