/* ----------- variables ----------- */

$bold-font: 'Oswald Demi Bold';
$light-font: 'Oswald Extra Light';
$midnight: #131617;
$antique: #D8C5AF;
$mist: #EBF1F6;
// -----> main styles 
body {
    background-color: $midnight;
    font-family: $light-font;
    letter-spacing: .2em;
    line-height: 14.4pt;
}

main {
    margin-top: 50px;
}


/* -------- heading styles -------- */

// h2 set between bars 
h2 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold-font;
    letter-spacing: .2em;
    font-size: 1.5em;
    color: $midnight;
}

h2 span {
    display: inline-block;
    position: relative;
    padding: 5px 25px;
    background-color: $mist;
    z-index: 38;
}

h2:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -1px;
    border-top: 2px solid $midnight;
}

// h3 with border box around 
h3 {
    padding: 10px 20%;
    border: 1px solid $mist;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold-font;
    letter-spacing: .2em;
    font-size: 1.5em;
    color: $mist;
}

h4 {
    text-transform: uppercase;
    font-family: $bold-font;
    letter-spacing: .2em;
    color: $midnight;
}

h5{
    margin: 40px 0 25px;
    padding: 10px 20%;
    border: 1px solid $mist;
    text-align: center;
    text-transform: uppercase;
    font-family: $bold-font;
    letter-spacing: .2em;
    font-size: 1.2em;
}

/* --------- hero image --------- */

header {
    height: 100vh;
    background-image: url('../images/final-trees-fog.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
//    @media only screen and (max-width: 1024px) {
//        background-image: url('../images/trees-large.jpg');
//    }
//    
//    @media only screen and (max-width: 768px) {
//        background-image: url('../images/trees-medium.jpg');
//        display: none;
//    }
//    @media screen and (max-width: 480px) {
//        background-image: none;
//    }
}

/* --------- navigation --------- */

// desktop/tablet landscape
nav {
    ul {
        display: flex;
        justify-content: flex-end;
    }
    li {
        padding-top: 50px;
        padding-left: 5%;
    }
    li:last-child {
        padding-right: 5%;
    }
    a {
        text-decoration: none;
        letter-spacing: .3em;
        font-family: $bold-font;
        font-size: 14px;
        color: $midnight;
        &:hover {
            color: $mist;
        }
    }
}

// -----> svg logo "the london fog blog" <-----
.title {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    //    border: 5px solid $mist;
}

.london-fog {
    display: block;
    width: 50%;
}

.path-01 {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: dash 4s linear forwards;
}

.path-02{
    stroke-dasharray: 700;
  stroke-dashoffset: 700;
    animation: dash 4s linear 2s forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

// -----> featured post with review <-----
.featured {
    display: flex;
    //    align-items: center;
    justify-content: center;
}

.main-content {
    max-width: 900px; //65%
}

/* -------- popular reviews -------- */

.post-sections {
    display: flex;
    width: 85%;
    margin: 65px auto;
}


.popular{
    flex-basis: 100%;
}

.left {
    display: flex;
    flex-wrap: wrap;
    width: 66.666666666666667%;
    
     @media screen and (max-width: 768px) {
        width: 100%;
    }
    
}

.right{
    width: 33.333333333333333%;
    color: $mist; 
    
      @media screen and (max-width: 768px) {
        width: 0%;
    }
    
}

.col-01,
.col-02 {
    margin: 0 auto;
    margin-top: 60px;
    width: 47%;
}

.col-01 {
    margin-bottom: 50px;
    margin-right: 2.5%;
    article {
        margin-bottom: 25px;
    }
}

.col-02{
    article {
        margin-bottom: 25px;
    }
}

.col-03{
    margin: 0 15%;
    
    p{
       font-size: .8em;    
       color: $mist; 
    }
}

.main-logo{
    display: block;
    
    @media screen and (max-width: 1024px) {
        margin-left: 25%;
        margin-right: 0%;
    }
    
    @media screen and (max-width: 768px) {
        display: none;
    }
    
}

// -----> create review with triangle pointer
.review {
    padding: 5%;
    width: 100%;
    position: relative;
    top: -5px;
    background-color: $mist;
    height: 200px;
    width: 100%;
    
    p{
        margin-top: 20px;
    }
}

.review:after {
    content: '';
    position: absolute;
    top: -7.555%;
    left: 50%;
    margin-left: 10%;
    width: 0;
    height: 0;
    border-bottom: solid 25px $mist;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
}

// -----> hide mobile logo
.mobile-logo {
    display: none;
    
     @media screen and (max-width: 768px) {
        display: block;
    }
    
}

//i. Smartphone – portrait (320px wide)
//ii. Smartphone – landscape (480px wide)
//iii. Tablet – portrait (768px wide)
//iv. Tablet – landscape(1024px wide)
//v. Desktop – widths wider than 1024px