/* -------- media queries -------- */

// ---> tablet landscape &+
@media only screen and (max-width: 1024px) {
    .main-content {
        min-width: 100%;
    }
    .post-sections {
        width: 90%;
    }
}

// fix breaking cafe name header 
@media only screen and (max-width: 900px) {
    
    h4{
        font-size: 1.1em;
    }
    
    .nav-main ul{
        width: 80%;
    }
    
}

// ---> tablet portrait
@media only screen and (max-width: 768px) {
    // change bg
    header {
        background-image: url('../images/trees-fog-768.jpg');
        height: 425px;
    }
    // hide intro title
    .title,
    .main-logo {
        display: none;
    }
    .mobile-logo {
        display: block;
        padding-top: 50px;
        margin: 0 auto;
        width: 30%;
    }
    //---> tablet nav 
  
    
    .nav-main ul {
        justify-content: space-around;
        margin: 0 auto;
    }
    
    .nav-main li{
        padding-top: 0;
        padding-left: 0;
    }
    
    .nav-main li:last-child {
    padding-right: 0%;
}

    .nav-main a {
//        padding: 0 0;
        color: $mist;
        &:hover {
            color: $antique;
        }
    }
    // tablet gallery view    
    .post-sections {
        flex-direction: column;
        width: 96%;
        border: none;
    }
    // fill screen with cols
    .left,
    .right {
        width: 100%;
    }
    
    .left a {
        padding-bottom: 20px;
    }
    // older posts
    .back{
        text-align: center;
    }

    // right column
    .col-03{
        padding-bottom: 50px;
        border-bottom: 1px solid $mist;
    }
    // fix breaking popular review h3
    .popular {
        margin: 0 10%;
    }
    
    // cafe name in reviews
    h4{
        font-size: 1.2em;
    }

}

@media only screen and (max-width: 736px) and (orientation: landscape){
    
          nav.nav-main{
        padding-top: 50px;
    }
    
}

// ---> phone landscape
@media only screen and (max-width: 480px) {
    main {
        margin-top: 0;
    }
    // remove bg image
    header {
        background-image: none;
        height: 40%;
    }
    // resize mobile logo 
    .mobile-logo {
        width: 45%;
    }
    // mobile navigation    
    .btn-mobile {
        display: block;
    }
    .nav-main {
        height: 0;
        padding-bottom: 0;
        //		clear: both;
        overflow: hidden;
        transition: height 0.7s ease;
    }
    .nav-main ul {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .nav-main li {
        padding-top: 0;
        padding-left: 0;
        border-top: 1px solid $antique;
        &:last-child {
            padding-right: 0;
            border-bottom: 1px solid $antique;
        }
    }
    // controls height of nav
    .show .nav-main {
        height: 124px;
        margin-bottom: 40px;
    }
    .nav-main a {
        line-height: 40px;
        display: block;
        width: 100%;
        text-transform: uppercase;
        &:hover {
            background-color: $antique;
            color: $midnight;
        }
    }
    // mobile make new gallery 
    .post-sections {
        width: 100%;
    }
    .col-01,
    .col-02 {
        width: 100%;
    }
    .col-01 {
        margin-right: 0;
        margin-bottom: 0;
    }
    .col-01 article,
    .col-02 article {
        margin-bottom: 0;
    }
    .col-02 {
        margin-top: 0;
    }
    .content {
        display: flex;
    }
    .content img {
        align-self: flex-start;
        width: 100%;
    }
    // reverse every second image  
    .flip {
        flex-direction: row-reverse;
    }
    // popular post styles
    .pp {
        top: 0;
        text-align: left;
        
        p{
            display: none;
        }
    
    }
    
.review-01, .review-02 {
    padding: 6%;
    height: auto;
    }
    
    // change triangle directions
    // right
    .review-01:after {
        top: 50%;
        left: -9.5px;
        border-width: 10px 10px 10px 0;
        border-color: transparent $mist transparent transparent;
    }
    // left
    .review-02:after {
        top: 50%;
        left: 100%;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent $mist;
    }
    // height of reviews
    .tall {
        height: 200px;
    }
    // ---> mobile fonts  
    
    // hide strikethrough h2
    h2 {
        display: none;
    }
    // replace h2 w/ new h3
    .mobile-h3 {
        font-size: 1em;
        display: block;
        margin: 0px 10% 40px;
    }
    // ---> make square gallery
    .content img {
        display: block;
    }
    .content .review-01,
    .content .review-02 {
        height: auto;
    }
    .content > * {
        flex: 0 1 50%;
    }
    .popular {
        font-size: 1em;
    }
    .left {
        width: 100%;
        margin-right: 0;
    }
    .post-sections a {
        margin-top: 40px;
    }
    // hide gif 
    .stop-motion{
        display: none;
    }
    // replace gif w/ img 
    .mobile-img{
        display: block;
    }
}

// ---> phone portrait
@media only screen and (max-width: 375px) {
    
   // this is if you want single img gallery
    
    //    .content{
    //        flex-direction: column;
    //    }
    //    
    //    .content .review {
    ////        padding-bottom: 0%;
    //        margin-bottom: 40px;
    //    }
}

//i. Smartphone – portrait (320px wide)
//ii. Smartphone – landscape (480px wide)
//iii. Tablet – portrait (768px wide)
//iv. Tablet – landscape(1024px wide)
//v. Desktop – widths wider than 1024px