@charset "UTF-8";

// load resets first 

@import "reset";
@import "aos";
@import "main";
@import "media";

// CSS Document

/* ------------- resets ------------- */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img, video {
    max-width: 100%;
    height: auto;
}

/* ------------- fonts ------------- */

@font-face {
    font-family: 'Oswald Demi Bold';
    src: url('../fonts/oswald-demibold-webfont.eot');
    src: url('../fonts/oswald-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-demibold-webfont.woff2') format('woff2'),
         url('../fonts/oswald-demibold-webfont.woff') format('woff'),
         url('../fonts/oswald-demibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Oswald Extra Light';
    src: url('../fonts/oswald-extralight-webfont.eot');
    src: url('../fonts/oswald-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-extralight-webfont.woff2') format('woff2'),
         url('../fonts/oswald-extralight-webfont.woff') format('woff'),
         url('../fonts/oswald-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
