/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ----------- variables ----------- */
body {
  background-color: #131617;
  font-family: "Oswald Extra Light";
  letter-spacing: .2em;
  line-height: 14.4pt; }

main {
  margin-top: 50px; }

/* -------- heading styles -------- */
h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald Demi Bold";
  letter-spacing: .2em;
  font-size: 1.5em;
  color: #131617; }

h2 span {
  display: inline-block;
  position: relative;
  padding: 5px 25px;
  background-color: #EBF1F6;
  z-index: 38; }

h2:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -1px;
  border-top: 2px solid #131617; }

h3 {
  padding: 10px 20%;
  border: 1px solid #EBF1F6;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald Demi Bold";
  letter-spacing: .2em;
  font-size: 1.5em;
  color: #EBF1F6; }

h4 {
  text-transform: uppercase;
  font-family: "Oswald Demi Bold";
  letter-spacing: .2em;
  color: #131617; }

h5 {
  margin: 40px 0 25px;
  padding: 10px 20%;
  border: 1px solid #EBF1F6;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald Demi Bold";
  letter-spacing: .2em;
  font-size: 1.2em;
  color: #EBF1F6; }

/* --------- hero image --------- */
header {
  height: 100vh;
  background-image: url("../images/trees-fog.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  @media only screen and (max-width: 1024px) {
    header {
      background-image: url("../images/trees-large.jpg"); } }
  @media only screen and (max-width: 768px) {
    header {
      background-image: url("../images/trees-medium.jpg");
      display: none; } }
  @media screen and (max-width: 480px) {
    header {
      background-image: none; } }

/* --------- navigation --------- */
nav ul {
  display: flex;
  justify-content: flex-end; }
nav li {
  padding-top: 50px;
  padding-left: 5%; }
nav li:last-child {
  padding-right: 5%; }
nav a {
  text-decoration: none;
  letter-spacing: .3em;
  font-family: "Oswald Demi Bold";
  font-size: 14px;
  color: #131617; }
  nav a:hover {
    color: #EBF1F6; }

.title {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center; }

.london-fog {
  display: block;
  width: 50%; }

.featured {
  display: flex;
  justify-content: center; }

.main-content {
  max-width: 900px; }

/* -------- popular reviews -------- */
.post-sections {
  display: flex;
  width: 85%;
  margin: 65px auto; }

.popular {
  flex-basis: 100%; }

.left {
  display: flex;
  flex-wrap: wrap;
  width: 66.666666666666667%; }
  @media screen and (max-width: 768px) {
    .left {
      width: 100%; } }

.right {
  width: 33.333333333333333%; }
  @media screen and (max-width: 768px) {
    .right {
      width: 0%; } }

.col-01,
.col-02 {
  margin: 0 auto;
  margin-top: 60px;
  width: 47%; }

.col-01 {
  margin-bottom: 50px;
  margin-right: 2.5%; }
  .col-01 article {
    margin-bottom: 25px; }

.col-02 article {
  margin-bottom: 25px; }

.col-03 {
  margin: 0 15%; }
  .col-03 p {
    font-size: .8em;
    color: #EBF1F6; }

.main-logo {
  display: block; }
  @media screen and (max-width: 1024px) {
    .main-logo {
      margin-left: 25%;
      margin-right: 0%; } }
  @media screen and (max-width: 768px) {
    .main-logo {
      display: none; } }

.review {
  padding: 5%;
  width: 100%;
  position: relative;
  top: -2px;
  background-color: #EBF1F6;
  height: 200px;
  width: 100%; }
  .review p {
    margin-top: 20px; }

.review:after {
  content: '';
  position: absolute;
  top: -7.555%;
  left: 50%;
  margin-left: 10%;
  width: 0;
  height: 0;
  border-bottom: solid 25px #EBF1F6;
  border-left: solid 25px transparent;
  border-right: solid 25px transparent; }

.mobile-logo {
  display: none; }
  @media screen and (max-width: 768px) {
    .mobile-logo {
      display: block; } }

/* ------------- resets ------------- */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

/* ------------- fonts ------------- */
@font-face {
  font-family: 'Oswald Demi Bold';
  src: url("../fonts/oswald-demibold-webfont.eot");
  src: url("../fonts/oswald-demibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-demibold-webfont.woff2") format("woff2"), url("../fonts/oswald-demibold-webfont.woff") format("woff"), url("../fonts/oswald-demibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Oswald Extra Light';
  src: url("../fonts/oswald-extralight-webfont.eot");
  src: url("../fonts/oswald-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-extralight-webfont.woff2") format("woff2"), url("../fonts/oswald-extralight-webfont.woff") format("woff"), url("../fonts/oswald-extralight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=styles.css.map */
